html, body {
  background: #3A539B;
}
h1 {
  color: #fff;
  text-align: center;
  margin-top: 40px;
  font-family: 'Alice', serif;
  font-size: 36pt;
}

.container{
  width: 800px;
  margin: 0 auto;
}

.colorPicker div{
  margin: 10px;
  display: inline-block;
}

.colorPicker div{
  margin: 10px;
  display: inline-block;
}

canvas {
  margin: 0 70% 0 30%;
  display: block;
  cursor: default;
}
